<% 
  switch (numError) {
    case 403: {
      %> <title>403 | Forbidden</title> <%
      break;
    }
    case 500: {
      %><title>500 | Internal Server Error</title><%
      break;
    }
    default: {
      %><title><%= numError %> | Erro Desconhecido</title><%
    }
  }
%>
