<% switch (numError) {
    case 400: { %>
      <title>400 | Bad Request</title><%
      break;
    }
    case 403: { %>
      <title>403 | Forbidden</title><%
      break;
    }
    case 404: { %>
      <title>404 | Not Found</title><%
      break;
    }
    case 500: { %>
      <title>500 | Internal Server Error</title><%
      break;
    }
    default: { %>
      <title><%= numError %> | Erro Desconhecido</title><%
    }
  }
%>
