<!-- Avalaições -->
<h1>Avaliações</h1>

<!-- Meter depois um for para criar varios destes, mas mostrar apenas as 3 mais recentes-->
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Trocar para imagem de do menu-->
            <img src="/images/restaurant1.jpg" class="card-img-top" alt="Restaurante 1">
            <div class="card-body">
                <h5 class="card-title">Avalição Critica</h5>
                <p class="card-text">Comida deliciosa e entrega rápida.</p>
                <p>Stars</p> <!-- Depois pesquisar como faço para meter sistema de estrelas, mas neste caso estetico-->
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Trocar para imagem de do menu-->
            <img src="/images/restaurant1.jpg" class="card-img-top" alt="Restaurante 1">
            <div class="card-body">
                <h5 class="card-title">Avalição Baix</h5>
                <p class="card-text">Comida fraca.</p>
                <p>Stars</p> <!-- Depois pesquisar como faço para meter sistema de estrelas, mas neste caso estetico-->
            </div>
        </div>
    </div>