<!-- Avaliações -->
<div class="row">
    <div class="col-12">
      <h1 class="mb-4">Avaliações</h1>
    </div>
</div>
  
<!-- Cards de avaliação -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Trocar para imagem de do menu-->
            <img src="/images/restaurant1.jpg" class="card-img-top" alt="Restaurante 1">
            <div class="card-body">
                <h5 class="card-title">Avaliação Crítica</h5>
                <p class="card-text">Comida deliciosa e entrega rápida.</p>
                <p>Stars</p>  <!-- Depois pesquisar como faço para meter sistema de estrelas, mas neste caso estetico-->
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Trocar para imagem de do menu-->
            <img src="/images/restaurant1.jpg" class="card-img-top" alt="Restaurante 1">
            <div class="card-body">
                <h5 class="card-title">Avaliação Baixa</h5>
                <p class="card-text">Comida fraca.</p>
                <p>Stars</p>  <!-- Depois pesquisar como faço para meter sistema de estrelas, mas neste caso estetico-->
            </div>
        </div>
    </div>
</div>

    <!--Botão que direciona para ver todos os restaurantes-->
<div class="container text-center mb-5">
    <a href="/restaurants" class="btn btn-primary" id="moreRestaurants">Ver todas as avaliações</a>
</div>