<!DOCTYPE html>
<html>
    <head>
        <!-- Trocar para o nome do restaurante-->
        <title>Restaurant Home Page</title>
        <link rel="icon" type="image/png" href="/images/LogoSite/logo.png"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" id="bootstrap-css">

        <link rel="stylesheet" href="/stylesheets/RestaurantPage/navBar.css" />
    </head>

    <body>
        <nav class="navbar navbar-light">
            <div class="container d-flex justify-content-between align-items-center">
              <!-- Lado esquerdo: Logo + Nome do Restaurante -->
              <div class="d-flex align-items-center">
                <a class="navbar-brand d-flex align-items-center" href="#">
                  <!-- Depois meter logo do restaurant -->
                  <img src="/images/Plataform/LogoSite/logo.png" alt="Logo do Site">
                  <span class="brand-name">Nome Restaurante!!! e Logo!!!!</span>
                </a>
              </div>
        
              <!-- Lado direito: Ícones e/ou perfil -->
              <div class="nav-icons d-flex align-items-center">
                <!-- Ícone do Perfil -->
                <a href="../Perfil/PerfilUser.html">
                    <img src="/images/Plataform/RestaurantPage/PerfilIcon.png" alt="Perfil">
                </a>
                
                <!-- Ícone do Carrinho -->
                <a href="../Perfil/Carrinho.html">
                  <img src="/images/Plataform/RestaurantPage/Carrinho.png" alt="Carrinho">
                </a>
        
                <!-- Foto do Utilizador (opcional) -->
                <img class="profile-pic" src="/images/Plataform/RestaurantPage/userPhoto.png" alt="Foto de Perfil">
              </div>
            </div>
          </nav>
        
          <!-- Conteúdo da página -->
          <div class="container mt-4 text-center">
            <div class="row">
                <!-- Provalvemente tenho de enviar aqui os dados do restaurante depois-->
                <%- include('InfoRestaurant') %>
            </div>

            <div class="row">
                <!-- Avalaições -->
                <h1>Avaliações</h1>
                <!-- Exemplo de caixa para meter a avaliação 
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                        <img src="/images/restaurant1.jpg" class="card-img-top" alt="Restaurante 1">
                        <div class="card-body">
                            <h5 class="card-title">Restaurante 1</h5>
                            <p class="card-text">Comida deliciosa e entrega rápida.</p>
                        </div>
                        </div>
                    </div>
                Se quisser outra é só meter mais um destes divs 
                -->
                    
            </div>

            <div class="row">
                <!--Menus-->
                <h1>Menus</h1>
                <!-- Exemplo de Menu
                 
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                        <img src="/images/restaurant1.jpg" class="card-img-top" alt="Restaurante 1">
                        <div class="card-body">
                            <h5 class="card-title">Restaurante 1</h5>
                            <p class="card-text">Comida deliciosa e entrega rápida.</p>
                        </div>
                        </div>
                    </div>
                
                Se quisser meter outro menu é só copiar o div    -->
            </div>
          </div>
    </body>
</html>