<!-- Infor Restaurante
Meter depois os <% para  receber titulo, desc, etc...> 
-->
<h1>Nome Restaurante</h1>
<p>Descrição (se tiver)</p>
<p>Outras Informações</p>
<p>Numero telfone :xxxxxx</p>
<p>Email: xxxxxxxx</p>
<p>Morada: xxxxxxx</p>