<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Historico de encomendas</title>

        <!-- Icon do site-->
        <link rel="icon" type="image/png" href="/images/Plataform/LogoSite/logo.png" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>

    <body>
        
        <!--
        data da encomenda,
        Rua de entrega
        Pratos do pedido (dados, preço, quantidades)
        Total da compra
        Preciso mostra dados do cliente (se for restaurante), Mostra dados do restaurante (caso cliente dados de faturacao)
        -->

        <p>ID: xxxxxxxxxxxxxxxxxxx</p>
        <p>Data da encomenda: xxxxxxxxxxxxx</p>

        <% if(priority === "Restaurant") { %>
            <!-- Mostra dados de faturação do cliente-->
            <h1>Cliente</h1>
            <p>Nome: xxxxxxxxxxxx</p>
            <p>Email: xxxxxxxxxxxx</p>
            <p>Telefone: xxxxxxxxxxx</p>
            
            <!-- Meter um if para so mostrar o nif, caso tenha sido utilizado nif na encomenda-->
        <% } else { %>
            <!-- Mostra dados do restaurante-->
            <h1>Restaurante</h1>
            <p>Nome: xxxxxxxxxxxx</p>
            <p>Email: xxxxxxxxxxxx</p>
            <p>Telefone: xxxxxxxxxxx</p>
            <p>Morada: xxxxxxxxxxxxxxxxxx</p>
        <% } %>
    </body>
</html>