<nav class="navbar navbar-light">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Lado esquerdo: Logo + Nome do Restaurante -->
      <div class="d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <!-- Depois meter logo do restaurant -->
          <img src="/images/Plataform/LogoSite/logo.png" alt="Logo do Site">
          <span class="brand-name">Nome Restaurante!!! e Logo!!!!</span>
        </a>
      </div>

      <!-- Lado direito: Ícones e/ou perfil -->
      <div class="nav-icons d-flex align-items-center">
        <!-- Ícone do Perfil -->
        <a href="../Perfil/PerfilUser.html">
            <img src="/images/Plataform/RestaurantPage/PerfilIcon.png" alt="Perfil">
        </a>
        
        <!-- Ícone do Carrinho -->
        <a href="../Perfil/Carrinho.html">
          <img src="/images/Plataform/RestaurantPage/Carrinho.png" alt="Carrinho">
        </a>

        <!-- Foto do Utilizador (opcional) -->
        <img class="profile-pic" src="/images/Plataform/RestaurantPage/userPhoto.png" alt="Foto de Perfil">
      </div>
    </div>
</nav>