<div class="row bg-white p-4 rounded shadow mb-4">
    <div class="col-12 mb-3">
        <h2 class="section-title text-center">Avaliações</h2>
    </div>

    <a href="/restaurants/<%= restaurant.name %>/comments/"></a>
    <% if (restaurant.comments.length > 0) { %>
        <div class="row">
       
        <%for (let i = 0; i < restaurant.comments.length; i++) {%>
            <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="/images/restaurant1.jpg" class="card-img-top" alt="Avaliação">
                <div class="card-body">
                <h5 class="card-title">Avaliação Crítica</h5>
                <p class="card-text"></p>
                <p class="card-text">Stars:</p>
                </div>
            </div>
            </div>
        <% } %>
        </div>
        <div class="text-center">
            <a href="/restaurants/<%= restaurant.name %>/comments/" class="btn btn-primary">Ver todas as avaliações</a>
        </div>
    <% } else { %>
        <div class="col-12">
        <p class="text-center">O restaurante ainda não tem avaliações</p>
        </div>
    <% } %>
</div>