<div class="container my-4">
    <!-- TRÊS TABELAS PARA OS ESTADOS -->
    <div class="row">
        <% ['Pendente','Expedida','Entregue'].forEach(status => { %>
        <div class="col-md-4">
            <h5><%= status %></h5>
            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Total</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody id="tbody-<%= status %>"></tbody>
            </table>
        </div>
      <% }) %>
    </div>
</div>