<link rel="stylesheet" href="/stylesheets/hero.css">

<% let backgroundImg = restaurant.perfil?.perfilPhoto ? restaurant.perfil.perfilPhoto.replace(/\\/g, '/') : "/images/Plataform/LogoSite/logo.png" %>

<section class="hero mb-5" style="background-image: url('<%= backgroundImg %>');">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="text-white"><%= title %></h1>
    <% if (typeof content !== 'undefined' && content) { %>
        <p class="lead text-white"><%= content %></p>
    <% } %>
  </div>
</section>