<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8">
    <title>Meu Delivery - Home</title>
    <link rel="icon" type="image/png" href="/images/Plataform/LogoSite/logo.png" />
    
    <!-- Link da fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/homePage.css">
    <link rel="stylesheet" href="/stylesheets/sinoNavBar.css">
  </head>
  <body>

    <%- include('navBar.ejs') %>
    <section class="hero">
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1>Descubra as melhores opções de entrega</h1>
        <p>Explore restaurantes e estabelecimentos próximos a você</p>

        <form class="search-bar d-flex" action="/search" method="GET">
          <input id="restaurantName" name="restaurantName" class="form-control me-2" type="search" placeholder="Buscar restaurantes ou pratos..." aria-label="Search" name="q" required>
          <button class="btn btn-primary" type="submit" id="OrangeButton">Buscar</button>
        </form>
      </div>
    </section>


    <section class="featured container">
      <%- include('Home/recomendacoes.ejs', { restaurants: restaurants })%>
    </section>

    <section>
      <!--Botão que direciona para ver todos os restaurantes-->
      <div class="container text-center mb-5">
        <a href="/restaurants" class="btn btn-primary" id="moreRestaurants">Ver todos os restaurantes</a>
      </div>
    </section>

    <section>
      <%- include('Home/infoClickEeat.ejs') %>
    </section>

    <section class="featured container">
      <%- include('Home/junte_se.ejs') %>
    </section>

    <!-- rodape -->
    <footer class="footer">
      <p>&copy; 2025 Click&Eat. Todos os direitos reservados.</p>
    </footer>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>