<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <p><a href="/login/signup">Signup</a></p>
    <p><a href="/login/login">Login</a></p>
    <p><a href="">Home Page de um restaurante</a></p>
  </body>
</html>
