<!DOCTYPE html>
<html lang="pt-PT">
    <head>

        <title>Adicionar Restaurante</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" id="bootstrap-css">
    </head>

    <body>
        <div class="containter">
            <div class="row-md-6">
                <h1>Adicionar novo Restaurante</h1>
            </div>

            <div class="row-md-6">
                <p><a href="/restaurants">Voltar</a></p>
            </div>

            <div class="row-md-6">
                <!-- Falta meter foto-->
                <form action="/restaurants/saveRestaurant" method="POST" >
                    <div class="row-md-6">
                        <label for="name">Nome: </label>
                        <input type="text" 
                        name="name" 
                        id="name"
                        placeholder="Introduza o nome do restaurante"
                        maxlength="100"
                        required>
                    </div>

                    <div class="row-md-6">
                        <label for="sigla">Sigla</label>
                        <input type="text" 
                        name="sigla" 
                        id="sigla"
                        placeholder="Introduza a sigla do Restaurante"
                        maxlength="10"
                        >
                    </div>

                    <div class="row-md-6">
                        <label for="nif">NIF:</label>
                        <input type="number" 
                        name="nif" 
                        id="nif"
                        placeholder="Introduza o NIF"
                        min="000000001"
                        max="999999999"
                        minlength="9"
                        maxlength="9"
                        required>
                    </div>

                    <div class="row-md-6">
                        <label for="phoneNumber">Telefone: </label>
                        <input type="number" 
                        name="phoneNumber"
                        id="phoneNumber"
                        placeholder="Introduza o numero Telefonico"
                        min="000000001"
                        max="999999999"
                        maxlength="9"
                        minlength="9"
                        required>
                    </div>

                    <div class="row-md-6">
                        <label for="email">Email: </label>
                        <input type="email" 
                        name="email" 
                        id="email"
                        placeholder="Introduza o email do restaurante"
                        required>
                    </div>

                    <div class="row-md-6">
                        <label for="password">Password: </label>
                        <input type="text"
                        name="password"
                        id="password"
                        placeholder="Introduza a password do restaurante"
                        minlength="8"
                        required>
                    </div>

                    <div class="row-md-6">
                        <label for="address">Morada: </label>
                        <input type="text" 
                        name="address"
                        id="address"
                        placeholder="Introduza a sua morada"
                        maxlength="250"
                        required>
                    </div>

                    <div class="row-md-6">
                        <div class="col-md-6">
                            <label for="postal_code">Código postal:</label>
                            <input type="text" 
                            name="postal_code" 
                            id="postal_code"
                            placeholder="Introduza o código Postal"
                            minlength="8"
                            maxlength="8"
                            pattern="[0-9]{4}-[0-9]{3}"
                            required>
                        </div>

                        <div class="col-md-6">
                            <label for="city">Cidade:</label>
                            <input type="text" 
                            name="city" 
                            id="city"
                            placeholder="Introduza o nome da sua cidade"
                            maxlength="100"
                            pattern="[a-zA-Z\s]*"
                            required>
                        </div>

                        <div class="row-md-6">
                            <label for="description">Descrição:</label>
                            <input type="text" 
                            name="description" 
                            id="description"
                            placeholder="Introduza uma descrição"
                            maxlength="500">
                        </div>

                        <div class="row-md-6">
                            <label for="photoPerfil">Photo do restaurante</label>
                            <input type="file" 
                            accept="image/*"
                            name="photo" 
                            id="photo">
                        </div>

                        <div class="row-md-6">
                            <button type="submit">Guardar</button>
                            <button><a href="/restaurants/addRestaurant">Clear</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>