<!DOCTYPE html>
<html>
  <head>
    <title>404 Error</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/errors/error404.css">
  </head>
  <body class="centered">
    <div class="gift"><img src="/images/unicorn.gif" width=250></div>
    <p class="title">Error 404!</p>
    <p class="text">Esta Pagina não existe.</p>
    <span class="go-back"><a href="<%= previousPage %>">Voltar</a></span>
  </body>
</html>