<div class="row-md-6">
    <p>Nome: <%= dish.name %></p>
</div>

<div class="row-md-6">
    <p>Descrição: <%= dish.description %></p>
</div>

<div class="row-md-6">
    <p>Categoria: <%= dish.category %></p>
</div>

<div class="row-md-6">
    <p>Preço: <%= dish.price%></p>
</div>