<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <!-- Trocar para o nome do prato-->
        <meta charset="UTF-8">

        <title>Prato <%= dish.name %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" id="bootstrap-css">
    </head>

    <body>
        <div class="container">
            <!-- Trocar os X, pelo nome das variaveis, que são recebidas-->
            <div class="row-md-6">
                <h1>Prato do menu x</h1>
            </div>

            <%- include('dish', { dish: dish }) %>
            <!-- Meter div praa a foto-->
            <button><a href="/restaurants/restaurant/menu">Voltar</a></button>
        </div>

    </body>
</html>