body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    background: #fff;
    border-radius: 40px;
    padding: 15px;
    margin-bottom: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%; /* Garante que o card ocupe toda a altura disponível */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    max-width: 100%;
    height: 150px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente */
    border-radius: 8px;
    margin-bottom: 10px;
}
.card h5 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #333;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.hero {
    background-image: url('/images/Plataform/MainPage/dinningTable.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 0 5vw;
}

.hero-content h1 {
    font-size: 4vw;
    margin-bottom: 1.5vh;
}

.hero-content p {
    font-size: 2vw;
    margin-bottom: 3vh;
}

.search-bar {
    max-width: 500px;
    margin: 0 auto;
}

.featured {
    padding: 0vh 0;
}

.featured h2 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 3vw;
}

.card-img-top {
    height: 20vh;
    object-fit: cover;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2vh 0;
    font-size: 1.5vw;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    color: #333;
    text-align: center;
    margin: 10px 0;
    padding: 3px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

p {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
    padding: 10px;
    background-color: #fafafa;
    border-left: 5px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão "Ver todos os restaurantes" */
#moreRestaurants {
    background-color: #ff6347; /* Tomate */
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 0.7em;
    margin-top: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#moreRestaurants:hover {
    background-color: #ff4500; /* Laranja avermelhado */
    transform: scale(1.05);
}

#OrangeButton {
    background-color: #ff6347; /* Tomate */
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 6vw;
    }

    .hero-content p {
        font-size: 4vw;
    }

    .featured h2 {
        font-size: 5vw;
    }

    .card-img-top {
        height: 15vh;
    }

    .footer {
        font-size: 2vw;
    }

    #moreRestaurants {
        padding: 10px 20px;
        font-size: 1em;
    }

    #OrangeButton {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 8vw;
    }

    .hero-content p {
        font-size: 6vw;
    }

    .featured h2 {
        font-size: 7vw;
    }

    .card-img-top {
        height: 10vh;
    }

    .footer {
        font-size: 3vw;
    }

    #moreRestaurants {
        padding: 6px 10px;
        font-size: 0.3em;
    }

    #OrangeButton {
        padding: 8px 16px;
        font-size: 0.6em;
    }
}