<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Admin Page</title>
        <link rel="icon" type="image/png" href="/images/Plataform/LogoSite/logo.png" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    
        <link rel="stylesheet" href="/stylesheets/Perfils/navBar.css">
        <link rel="stylesheet" href="/stylesheets/Perfils/photoPerfil.css">
        
        <!-- CSS -->
        <!-- css dos botoes de editar Q-->
        <link rel="stylesheet" href="/stylesheets/Perfils/btnEdits.css">
    </head>
    
    <body>
        <!-- Menu lateral -->
        <%- include('navBar') %>

        <!-- Conteúdo principal -->
        <div class="content">
            <h1>Bem-Vindo admin</h1>
            <%- include('userDados') %>
        </div>

        <!-- Bootstrap JS Bundle com Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>