<nav class="sidebar d-flex flex-column p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Voltar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin/listRestaurants" class="nav-link text-white">Restaurants</a>
        </li>

        <li>
            <a href="/admin/listUsers" class="nav-link text-white">Users</a>
        </li>

        <li>
            <a href="/admin/listCategories" class="nav-link text-white">Categories</a>
        </li>

        <li>
            <a href="/logout" class="nav-link text-white">Logout</a>
        </li>
    </ul>
</nav>