<nav class="sidebar d-flex flex-column p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Voltar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/perfil/admin" class="nav-link text-white">Perfil</a>
        </li>

        <li class="nav-item">
            <a href="/perfil/admin/listRestaurants" class="nav-link text-white">Restaurantes</a>
        </li>

        <li>
            <a href="/perfil/admin/listUsers" class="nav-link text-white">Utilizador</a>
        </li>

        <li>
            <a href="/perfil/admin/listCategories" class="nav-link text-white">Categorias</a>
        </li>

        <li>
            <a href="/perfil/admin/listPortions" class="nav-link text-white">Porções</a>
        </li>

        <li class="nav-item">
            <a href="/login/logOut" class="nav-link text-white">Log Out</a>
        </li>

        <li class="nav-item">
            <form action="/perfil/admin/deleteAccount/<%= user._id%>" method="POST" onsubmit="return confirm('Tem a certeza que pretende apagar a conta?');">
                <button type="submit" class="nav-link btn btn-link text-white">Apagar Conta</button>
            </form>
        </li>
    </ul>
</nav>