<div class="row bg-white p-4 rounded shadow mb-4">
    
    <div class="col-12 mb-3 d-flex align-items-center">
        <form action="/perfil/admin/editDados" method="GET" class="me-3">
            <button type="submit" class="custom-btn">Editar Dados</button>
        </form>
        
        <form action="/perfil/admin/editPassword" method="GET">
            <button type="submit" class="custom-btn">Editar Password</button>
        </form>
    </div>
    <div class="col-12">
      <p><strong>Nome:</strong> <%= user.firstName %>  <%= user.lastName %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Número de telefone:</strong> <%= user.perfil.phoneNumber %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Email:</strong> <%= user.perfil.email %></p>
    </div>
</div>
  