<!DOCTYPE html>
<html>
    <head>
        <!-- Trocar para o nome do restaurante-->
        <title>Restaurant Home Page</title>
        <link rel="icon" type="image/png" href="/images/LogoSite/logo.png"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" id="bootstrap-css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div id="SiteLogo" class="col">
                    <div>

                    </div>
                </div>

                <!-- Ver se é preciso-->
                <div id="Espacamento"class="col"></div>

                <div id="LoginCarrinho" class="col">
                    <!-- Depois dependendo da conta tem de levar a perfis diferentes se for 
                     empresa para o perfil da empresa e se for user, para o de user -->
                    <div class="col" id="Perfil">
                        <!-- A tag, a vai ter de levar para o ejs, do perfil-->
                        <a href="">
                            <img src="/images/Plataform/RestaurantPage/PerfilIcon.png" alt="Perfil">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>