<div class="container text-center mb-5">
    <h2>O que é o Click&Eat?</h2>
    <p>O Click&Eat é uma plataforma de entrega de refeições que conecta restaurantes e clientes, oferecendo uma experiência prática e deliciosa.</p>
    <p>Com o Click&Eat, você pode explorar uma variedade de opções gastronômicas, fazer pedidos online e receber suas refeições no conforto da sua casa ou escritório.</p>
  </div>