<h2>Junte-se a nós!</h2>
<div class="row">
  <!-- Card 1 -->
  <div class="col-md-4 mb-4">
    <a href="/" class="text-decoration-none w-100">
      <div class="card">
        <img
          src="/images/Plataform/MainPage/companyFeeding.png"
          class="card-img-top"
          alt="Restaurante 1"
        />
        <div class="card-body">
          <h5 class="card-title">Forneça refeições aos seus colaboradores</h5>
          <p class="card-text"><a href="/">Crie uma conta empresarial</a></p>
        </div>
      </div>
    </a>
  </div>
  <!-- Card 2 -->
  <div class="col-md-4 mb-4">
    <a href="/registRestaurant" class="text-decoration-none w-100">
      <div class="card">
        <img
          src="/images/Plataform/MainPage/restauranteEntregador.png"
          class="card-img-top"
          alt="Restaurante 2"
        />
        <div class="card-body">
          <h5 class="card-title">
            As refeições do seu restaurante entregues ao domicílio
          </h5>
          <p class="card-text">
            <a href="/registRestaurant">Adicione o seu restaurante</a>
          </p>
        </div>
      </div>
    </a>
  </div>
  <!-- Card 3 -->
  <div class="col-md-4 mb-4">
    <a href="/" class="text-decoration-none w-100">
      <div class="card">
        <img
          src="/images/Plataform/MainPage/entregador.png"
          class="card-img-top"
          alt="Restaurante 3"
        />
        <div class="card-body">
          <h5 class="card-title">Entregue com o Click&Eat</h5>
          <p class="card-text">
            <a href="/">Registre-se para fazer as entregas</a>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
