<h2>Junte-se a nós!</h2>
<div class="row">
  <div class="col-md-4 mb-4">
    <a href="/registRestaurant" class="text-decoration-none w-100">
      <div class="card">
        <img
          src="/images/Plataform/MainPage/restauranteEntregador.png"
          class="card-img-top"
          alt="Restaurante 2"
        />
        <div class="card-body">
          <h5 class="card-title">
            As refeições do seu restaurante entregues ao domicílio
          </h5>
          <p class="card-text">
            <a href="/registRestaurant">Adicione o seu restaurante</a>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
