.card-img-container {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.card-img-container:hover .overlay {
  opacity: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}
