<!DOCTYPE html>
<html>
    <head>
        <!-- Logotipo-->
        <link rel="icon" type="image/png" href="/images/Plataform/LogoSite/logo.png"/>
    </head>

    <body>
        <h1>Criar menu</h1>
    </body>
</html>