
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  min-width: 200px;
  max-width: 200px;
  background-color: #343a40;
  color: #fff;
}
.sidebar .nav-link {
  color: #fff;
}
.sidebar .nav-link:hover {
  background-color: #495057;
}