<!DOCTYPE html>
<html>
    <head>
        <title>Restaurantes</title>
    </head>

    <body>
        <h1>Restaurantes</h1>

        <a href="/">Voltar há home Page</a>
        <!-- Meter ejs, que gera a lista de restaurantes-->
         <a href="/restaurants/restaurant">Restaurant especifico</a>
    </body>
</html>